
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  color: #202124;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}


.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding:0%
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  width: 100%;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 60px;
  width: auto;
  cursor: pointer;
}
.btn-primary {
  background-color: #e4002b;
  color: white;
  border: none;
  padding: 12px 25px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background-color: #b30021;
  transform: translateY(-2px);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInUp 0.8s ease-out forwards;
}


@media (max-width: 768px) {
  .navbar {
    padding: 10px 3%;
  }
}